.container {
    width: 80vw;
    margin-bottom: 800px;
}
.horizontalLine {
    border: 1px solid gray; 
    width: 35vw;
    height: 1px;
    margin: 10px 5px; 
}

.cardStyle {
    height: 10vw;
    width: 85%;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 60%;
    right : 8%;
    z-index: 1;
    text-align: center;
    padding: 20px;
}
.textStyle {
    font-size: 20px;
}

.smallTextStyle {
    font-size: 16px;
}
.largeTextStyle {
    font-size: 32px;
}

.largeCardStyle {
    height: 18vw;
    width: 60%;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 20vw;
    right : 18%;
    z-index: 1;
    text-align: center;
    padding: 70px;
}

@media screen and (max-width: 1600px) {
    .horizontalLine {
        border: 1px solid gray; 
        width: 25vw;
        height: 1px;
        margin: 10px 5px; 
    }
    .textStyle {
        font-size: 18px;
    }
    .container {
        width: 100vw;
        margin-bottom: 700px;
    }

    .cardStyle {
        height: 12vw;
        width: 98%;
        background-color: white;
        border: 1px solid black;
        position: absolute;
        top: 50%;
        right : 1%;
        z-index: 1;
        text-align: center;
        padding: 20px;
    }

    .largeCardStyle {
        height: 20vw;
        width: 60%;
        background-color: white;
        border: 1px solid black;
        position: absolute;
        top: 20vw;
        right : 18%;
        z-index: 1;
        text-align: center;
        padding: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .horizontalLine {
        border: 1px solid gray; 
        width: 25vw;
        height: 1px;
        margin: 10px 5px; 
    }
    .textStyle {
        font-size: 14px;
    }
    .container {
        width: 100vw;
        margin-bottom: 550px;
    }

    .cardStyle {
        height: 15vw;
        width: 98%;
        background-color: white;
        border: 1px solid black;
        position: absolute;
        top: 50%;
        right : 1%;
        z-index: 1;
        text-align: center;
        padding: 20px;
    }

    .largeCardStyle {
        height: 35vw;
        width: 60%;
        background-color: white;
        border: 1px solid black;
        position: absolute;
        top: 20vw;
        right : 18%;
        z-index: 1;
        text-align: center;
        padding: 10px;
    }
}